<div class="flex flex-col lg:grid lg:grid-cols-2 lg:grid-rows-none lg:min-h-70 px-6 sm:px-20 py-4 pb-6 md:pb-12">
    <img src="./assets/img/about.webp" class="object-cover lg:h-full" loading="lazy">
    <div class="bg-vb-dark flex flex-col justify-center items-center gap-10 py-8 text-white">
        <h1 class="font-display font-semibold text-3xl sm:text-5xl text-center leading-snug mx-8">CONEIX VOLCANIC BEAT
        </h1>
        <p class="w-10/12 sm:w-4/6 text-center leading-loose">Volcanic Beat neix el 2021 per fomentar i promocionar una
            activitat
            poc coneguda a
            la comarca
            de la Garrotxa,
            en un entorn privilegiat com és la terra dels volcans.</p>
        <p class="w-10/12 sm:w-4/6 text-center leading-loose">La nostra prioritat principal és assegurar-nos de que tu,
            els teus
            amics, la teva
            família, el
            teu equip, els
            teus companys de classe o de feina, gaudiu d'una emocionant experiència. Fes una ullada per la nostra web i
            que comenci la diversió!</p>
    </div>
</div>