<div class="flex flex-col justify-center items-center gap-8 text-white text-center leading-loose mx-auto py-8">
    <h1 class="font-display text-6xl font-semibold">COM RESERVAR?</h1>
    <p class="w-2/5 mx-auto">Per tal de fer una reserva d'un dels serveis oferts, caldrà que ompliu el formulari de
        sol·licitud
        de
        reserva. De seguida ens posarem en contacte amb vosaltres per confirmar la disponibilitat i gestionar la
        reserva.
    </p>
    <p class="w-2/5 mx-auto">Per qualsevol dubte amb les reserves podeu contactar-nos a través del formulari de contacte
        a la pàgina d'inici o
        bé
        a través de: </p>
    <div class="flex flex-row gap-8">
        <button mat-raised-button><a class="flex flex-row items-center gap-2"
                href="mailto:laser@volcanicbeat.com"><mat-icon class="col-span-1 justify-self-end">mail</mat-icon>Correu
                electrònic</a></button>
        <button mat-raised-button><a class="flex flex-row items-center gap-2"
                href="https://api.whatsapp.com/send?phone=34682904368&text=Hola!%20Voldria%20contactar%20amb%20Volcanic%20Beat%20per..."><mat-icon
                    class="col-span-1 justify-self-end">call</mat-icon>Whats App</a></button>
    </div>
</div>
<app-calendar-form></app-calendar-form>