<div class="flex justify-around bg-vb-green h-32 py-4">
    <div class="w-logo cursor-pointer duration-500 hover:w-logo-plus">
        <img src="./assets/img/7.svg" class="bg-white" (click)="home()">
    </div>

    <div class="flex justify-evenly items-center text-white">
        <button (click)="home()" class="mx-4 duration-500 hover:text-lg">Inici</button>
        <button (click)="about()" class="mx-4 duration-500 hover:text-lg">Qui som</button>
        <button (click)="about()" class="mx-4 duration-500 hover:text-lg">Serveis</button>
        <button (click)="prices()" class="mx-4 duration-500 hover:text-lg">Preus</button>
        <button (click)="about()" class="mx-4 duration-500 hover:text-lg">Reservar</button>
        <button (click)="contact()" class="mx-4 duration-500 hover:text-lg">Contacte</button>
        <button (click)="about()" class="mx-4 duration-500 hover:text-lg">Normativa</button>
        <button (click)="about()" class="mx-4 duration-500 hover:text-lg">Galeria</button>
        <a href="https://instagram.com/volcanic_beat" target="_blank" class="mx-4 duration-500 hover:text-lg"><fa-icon
                [icon]="faInstagram"></fa-icon></a>
    </div>
</div>