<div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-none">
    <video autoplay muted loop id="introVideo" preload="auto"
        class="col-span-full row-start-1 w-screen max-h-70 min-h-[500px] object-cover hidden md:block">
        <source src="./assets/vid/intro.mp4" type="video/mp4">
    </video>
    <img src="./assets/img/intro-no-vid.webp" class="col-span-full row-start-1 md:hidden">

    <div
        class="col-start-1 row-start-1 bg-black/20 my-4 md:my-20 py-4 md:py-10 lg:py-0 mx-10 sm:mx-20 md:me-0 flex flex-col justify-center items-center gap-10">
        <h1
            class="font-display text-4xl sm:text-6xl md:text-6xl lg:text-7xl leading-tight font-bold text-white text-center">
            VOLCANIC <br class="hidden sm:inline">LASER<br>COMBAT
        </h1>
        <h4 class="lg:text-xl text-white text-center">Gaudeix de la millor experiència d'acció!</h4>
    </div>
</div>

<div
    class="flex flex-col justify-center items-center gap-8 bg-vb-green text-white text-center leading-8 w-[85%] sm:w-[500px] lg:w-800 mx-auto my-10 md:my-20">
    <h1 class="font-display text-4xl font-semibold">QUÈ ÉS VOLCANIC LASER COMBAT?</h1>
    <p>Volcanic Laser Combat és una activitat de lasertag que ofereix Volcanic Beat. I què és el laser tag? Segurament
        heu sentit a parlar del paintball, una activitat que simula un combat entre dos equips amb armes que disparen
        boles de pintura. Doncs bé, el laser tag té el mateix principi, però alhora de disparar no s'emet cap projectil,
        sinó que funciona amb rajos làser que permeten apuntar i disparar a grans distàncies. I per veure si ens han
        tocat, l'arma vibra per informar-nos.</p>
    <p>
        El laser tag és una activitat que permet anar més enllà a nivell de jocs i modalitats de partides que
        s'ofereixen ja que al ser electrònic, es poden modificar el tipus d'armes, la quantitat de munició, la vida i
        moltes altres opcions. A més a més, l'activitat és completament inofensiva i per tant, apte per a tothom i per
        totes les edats.
    </p>
    <p>Per més informació, consulteu la resta del web o contacteu amb nosaltres al següent formulari.<br>
        No t'ho pensis més i vine a gaudir de l'experiència Volcanic Laser Combat!</p>
</div>

<div>
    <iframe width="780" height="439" src="https://www.youtube.com/embed/yfCwB7yuJdY" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        title="Laser Tag POV - Volcanic Beat" class="mx-auto max-w-[80vw] max-h-[45vw]"></iframe>
</div>

<app-contact-form></app-contact-form>