<div class="flex flex-col lg:grid lg:grid-cols-2 lg:grid-rows-none lg:min-h-70 px-6 sm:px-20 py-4 pb-6 md:pb-12">
    <div class="bg-[#334037] flex flex-col justify-center items-center gap-10 py-8 text-white">
        <h1
            class="w-10/12 sm:w-4/6 font-display text-center leading-relaxed text-4xl sm:text-5xl sm:leading-relaxed md:text-5xl md:leading-relaxed lg:text-5xl lg:leading-relaxed font-semibold text-white text-center">
            RECOMANACIONS I NORMATIVA
        </h1>
    </div>
    <div class="bg-[#65806e] flex flex-col justify-center items-center gap-10 py-8 text-white">
        <p class="w-10/12 sm:w-4/6 md:w-3/5 text-center leading-loose">Volcanic Laser Combat és una activitat que es
            realitza a
            l'aire lliure, en un terreny natural amb petits desnivells i irregularitats. És per això que us recomanem
            l'ús de calçat i roba esportiva.</p>
        <p class="w-10/12 sm:w-4/6 md:w-3/5 text-center leading-loose">Com totes les activitats avui en dia, és
            necessari que
            abans de realitzar l'activitat, tots els participants omplin i signin degudament el document de consentiment
            informatiu que trobareu més avall.</p>
    </div>
</div>

<div
    class="flex flex-col lg:flex-row justify-around items-center gap-0 lg:gap-16 bg-[#65806e] lg:min-h-70 mx-6 sm:mx-20 my-4 mb-6 md:mb-12">
    <div class="w-2/5 py-4 lg:py-8 text-white lg:ms-auto">
        <h2 class="text-center lg:text-end text-2xl sm:text-3xl md:text-4xl font-display font-semibold leading-relaxed">
            Consentiment<br>informatiu</h2>
    </div>
    <div class="w-10/12 sm:w-4/6 md:w-3/5 py-4 lg:py-8 text-white lg:me-auto">
        <p class="lg:w-2/3 text-center lg:text-start leading-loose">A continuació podeu trobar en format PDF el document
            de
            consentiment
            que caldrà que tots els participants signin abans de realitzar l'activitat. El podeu portar ja signat de
            casa, però sinó, el dia de l'activitat també podreu omplir-lo i signar-lo al terreny de joc.</p>
    </div>
</div>

<app-example-pdf-viewer class="block w-10/12 xl:w-1000 mx-auto mb-6 md:mb-12"></app-example-pdf-viewer>