<div
    class="flex flex-col justify-center items-center gap-8 text-white text-center prices bg-vb-green bg-opacity-70 w-screen py-24">
    <h1 class="font-display text-4xl sm:text-5xl font-semibold w-4/5">PREUS</h1>
    <h3 class="text-xl w-10/12">En aquest apartat trobaràs els preus de tots els serveis que oferim.</h3>
</div>
<div
    class="flex flex-col gap-8 text-center lg:text-start text-white leading-loose w-[85%] sm:w-9/12 lg:w-800 xl:w-1000 mx-auto py-16">
    <h2 class="font-display text-2xl font-semibold">COMBAT CLÀSSIC</h2>
    <h3 class="text-xl">De <strong>8 a 16 persones</strong>. Durada: <strong>2 hores</strong></h3>
    <ul class="list-disc list-inside indent-4">
        <li>8 - 10 persones: <strong>23 €</strong> / persona</li>
        <li>11 - 13 persones: <strong>21 €</strong> / persona</li>
        <li>14 - 16 persones: <strong>19 €</strong> / persona</li>
    </ul>
    <ul class="list-disc list-inside text-[0.8rem]">
        <li>El preu del desplaçament de les partides a domicili és de 0,22 €/km + 20€/hora de trajecte.</li>
        <li>En cas de voler jugar menys de 8 persones, és possible, sempre i quan es pagui el preu de 8 persones (184
            €), que és el mínim per jugar.</li>
    </ul>
    <h2 class="font-display text-2xl font-semibold">EL GRAN COMBAT</h2>
    <h3 class="text-xl">Fins a <strong>16 persones</strong>. Durada: <strong>4 hores</strong></h3>
    <ul class="list-disc list-inside indent-4">
        <li>Preu de <strong>395 €</strong>independentment del nombre de persones.</li>
    </ul>
</div>