.contact-button[disabled] {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(182, 201, 187, 0.3);
    width: 104px;
    height: 52px;
    font-size: 1.15rem;
    font-weight: bold;
}

.contact-button:not([disabled]) {
    color: #FFFFFF;
    background-color:#98aa9d;
    width: 104px;
    height: 52px;
    font-size: 1.15rem;
    font-weight: bold;
}

mat-label {
    color: #b6c9bb;
}