<div
    class="flex flex-col justify-center items-center gap-16 bg-vb-dark w-11/12 sm:w-5/6 py-12 mx-auto mt-8 lg:mt-16 mb-12">
    <h1 class="font-display text-white text-center text-4xl font-bold mx-4">CALENDARI DE RESERVA</h1>
    <mat-vertical-stepper linear #stepper class="w-11/12 sm:w-5/6 bg-vb-dark">
        <mat-step [stepControl]="calendarForm">
            <ng-template matStepLabel>Escull una data</ng-template>
            <mat-card class="demo-inline-calendar-card">
                <mat-calendar *ngIf="datesToHighlight.length > 0" [dateClass]="dateClass()" [selected]="selectedDate"
                    (selectedChange)="onSelect($event)"></mat-calendar>
            </mat-card>
            <div class="flex flex-row justify-center items-center gap-2 mt-8">
                <button type="button" mat-mini-fab matStepperPrevious disabled><mat-icon>arrow_back</mat-icon></button>
                <button type="button" mat-mini-fab matStepperNext color="primary"
                    [disabled]="!selectedDate"><mat-icon>arrow_forward</mat-icon></button>
            </div>
        </mat-step>
        <mat-step [stepControl]="timeTableForm">
            <ng-template matStepLabel>Escull una hora</ng-template>
            <form [formGroup]="timeTableForm" (ngSubmit)="submit()" class="flex flex-col justify-center items-center">
                <section>
                    <mat-form-field appearance="outline">
                        <mat-label>Hora</mat-label>
                        <mat-select [formControl]="time">
                            <mat-option *ngFor="let hour of displayHours" [value]="hour">{{
                                hour.toString().concat(":00h")
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>
                <div class="flex flex-row justify-center items-center gap-2">
                    <button type="button" mat-mini-fab matStepperPrevious
                        color="primary"><mat-icon>arrow_back</mat-icon></button>
                    <button type="button" mat-mini-fab matStepperNext color="primary"
                        [disabled]="!time.value"><mat-icon>arrow_forward</mat-icon></button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="bookingForm">
            <ng-template matStepLabel>Completa amb les teves dades</ng-template>
            <form [formGroup]="bookingForm" (ngSubmit)="submit()" class="flex flex-col justify-center items-center">
                <section>
                    <mat-form-field appearance="outline" class="w-[70vw] sm:w-[60vw] xl:w-800">
                        <mat-label>Nom i cognoms: </mat-label>
                        <input matInput type="text" [formControl]="name" required />
                        <mat-error *ngIf="name.hasError('required') && name.dirty && name.touched">
                            El nom és obligatori
                        </mat-error>
                        <mat-error *ngIf="name.hasError('minlength') && name.dirty && name.touched">
                            El nom ha de tenir mínim dos caràcters
                        </mat-error>
                        <mat-error *ngIf="name.hasError('maxlength') && name.dirty && name.touched">
                            El nom ha de tenir com a màxim 64 caràcters
                        </mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field appearance="outline" class="w-[70vw] sm:w-[60vw] xl:w-800">
                        <mat-label>Correu electrònic: </mat-label>
                        <input matInput type="email" [formControl]="email" required />
                        <mat-error *ngIf="email.hasError('pattern') && !email.hasError('required') && email.dirty">
                            El correu no està en un format vàl·lid
                        </mat-error>
                        <mat-error *ngIf="email.hasError('required') && email.dirty">
                            El correu és obligatori
                        </mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field appearance="outline" class="w-[70vw] sm:w-[60vw] xl:w-800">
                        <mat-label>Telèfon mòbil: </mat-label>
                        <input matInput type="text" [formControl]="mobile_phone" />
                        <mat-error *ngIf="mobile_phone.hasError('minlength') && mobile_phone.dirty">
                            El número de telèfon ha de tenir mínim 9 dígits
                        </mat-error>
                        <mat-error *ngIf="mobile_phone.hasError('maxlength') && mobile_phone.dirty">
                            El número de telèfon ha de tenir un màxim de 13 dígits
                        </mat-error>
                        <mat-error
                            *ngIf="mobile_phone.hasError('pattern') && !mobile_phone.hasError('required') && mobile_phone.dirty">
                            El número de telèfon no té un format vàlid
                        </mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field appearance="outline" class="w-[70vw] sm:w-[60vw] xl:w-800">
                        <mat-label>Activitat</mat-label>
                        <mat-select [formControl]="activity">
                            <mat-option value="combat-classic">Combat Clàssic (2h)</mat-option>
                            <mat-option value="gran-combat">El Gran Combat (4h)</mat-option>
                            <mat-option value="combat-nocturn" disabled>Combat Nocturn (estiu)</mat-option>
                        </mat-select>
                        <mat-error *ngIf="activity.hasError('required') && activity.dirty">
                            Cal seleccionar el tipus d'activitat
                        </mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field appearance="outline" class="w-[70vw] sm:w-[60vw] xl:w-800">
                        <mat-label>Nombre de jugadors: </mat-label>
                        <input matInput type="number" [formControl]="num_players" />
                        <mat-error *ngIf="num_players.hasError('required') && num_players.dirty">
                            Cal especificar el nombre de jugadors (encar que sigui aproximat)
                        </mat-error>
                        <mat-error
                            *ngIf="(num_players.hasError('min') || num_players.hasError('max')) && num_players.dirty">
                            El nombre de jugadors ha de ser entre 8 i 16 (ambdós inclosos)
                        </mat-error>
                        <mat-error
                            *ngIf="num_players.hasError('pattern') && !num_players.hasError('required') && num_players.dirty">
                            Cal que sigui un número
                        </mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field appearance="outline" class="w-[70vw] sm:w-[60vw] xl:w-800">
                        <mat-label>Comentaris: </mat-label>
                        <textarea matInput type="text" [formControl]="msg"
                            placeholder="Escriu aquí el teu missatge..."></textarea>
                        <mat-error *ngIf="msg.hasError('minlength') && msg.dirty">
                            El missatge ha de tenir mínim 8 caràcters
                        </mat-error>
                        <mat-error *ngIf="msg.hasError('maxlength') && msg.dirty">
                            El missatge ha de tenir com a màxim 1024 caràcters
                        </mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <mat-checkbox [formControl]="under_sixteen" color="primary">
                        <p class="contents text-white">Algun dels participants és menor de 16 anys.</p>
                    </mat-checkbox>
                </section>
                <section>
                    <mat-checkbox [formControl]="check_politiques" color="primary" required>
                        <p class="contents text-white">Estic d'acord amb les <a
                                href="./condicions-us-de-les-dades-personals" class="underline">condicions d'ús de les
                                dades
                                personals</a></p>.
                        <mat-error *ngIf="check_politiques.hasError('required') && check_politiques.dirty">
                            És necessari acceptar les condicions d'ús de les dades personals.
                        </mat-error>
                    </mat-checkbox>
                </section>
                <section class="flex flex-row justify-center items-center gap-2">
                    <button type="button" mat-mini-fab matStepperPrevious
                        color="primary"><mat-icon>arrow_back</mat-icon></button>
                    <button type="button" mat-mini-fab matStepperNext
                        disabled><mat-icon>arrow_forward</mat-icon></button>
                </section>
                <section class="text-white mt-4">
                    <button mat-raised-button type="submit" [disabled]="!bookingForm.valid || processing"
                        *ngIf="!processing && !showMessage" class="booking-button">Enviar</button>
                    <mat-spinner *ngIf="processing"></mat-spinner>
                    <p class="font-semibold text-xl" *ngIf="showMessage">El missatge s'ha enviat correctament!</p>
                </section>
            </form>
        </mat-step>
    </mat-vertical-stepper>

    <mat-stepper linear #stepper class="w-11/12 sm:w-5/6 bg-vb-dark">
        <mat-step [stepControl]="calendarForm">
            <ng-template matStepLabel>Escull una data</ng-template>
            <mat-card class="demo-inline-calendar-card">
                <mat-calendar *ngIf="datesToHighlight.length > 0" [dateClass]="dateClass()" [selected]="selectedDate"
                    (selectedChange)="onSelect($event)"></mat-calendar>
            </mat-card>
            <div class="flex flex-row justify-center items-center gap-2 mt-8">
                <button type="button" mat-mini-fab matStepperPrevious disabled><mat-icon>arrow_back</mat-icon></button>
                <button type="button" mat-mini-fab matStepperNext color="primary"
                    [disabled]="!selectedDate"><mat-icon>arrow_forward</mat-icon></button>
            </div>
        </mat-step>
        <mat-step [stepControl]="timeTableForm">
            <ng-template matStepLabel>Escull una hora</ng-template>
            <form [formGroup]="timeTableForm" (ngSubmit)="submit()" class="flex flex-col justify-center items-center">
                <section>
                    <mat-form-field appearance="outline">
                        <mat-label>Hora</mat-label>
                        <mat-select [formControl]="time">
                            <mat-option *ngFor="let hour of displayHours" [value]="hour">{{
                                hour.toString().concat(":00h")
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>
                <div class="flex flex-row justify-center items-center gap-2">
                    <button type="button" mat-mini-fab matStepperPrevious
                        color="primary"><mat-icon>arrow_back</mat-icon></button>
                    <button type="button" mat-mini-fab matStepperNext color="primary"
                        [disabled]="!time.value"><mat-icon>arrow_forward</mat-icon></button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="bookingForm">
            <ng-template matStepLabel>Completa amb les teves dades</ng-template>
            <form [formGroup]="bookingForm" (ngSubmit)="submit()" class="flex flex-col justify-center items-center">
                <section>
                    <mat-form-field appearance="outline" class="w-[70vw] sm:w-[60vw] xl:w-800">
                        <mat-label>Nom i cognoms: </mat-label>
                        <input matInput type="text" [formControl]="name" required />
                        <mat-error *ngIf="name.hasError('required') && name.dirty && name.touched">
                            El nom és obligatori
                        </mat-error>
                        <mat-error *ngIf="name.hasError('minlength') && name.dirty && name.touched">
                            El nom ha de tenir mínim dos caràcters
                        </mat-error>
                        <mat-error *ngIf="name.hasError('maxlength') && name.dirty && name.touched">
                            El nom ha de tenir com a màxim 64 caràcters
                        </mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field appearance="outline" class="w-[70vw] sm:w-[60vw] xl:w-800">
                        <mat-label>Correu electrònic: </mat-label>
                        <input matInput type="email" [formControl]="email" required />
                        <mat-error *ngIf="email.hasError('pattern') && !email.hasError('required') && email.dirty">
                            El correu no està en un format vàl·lid
                        </mat-error>
                        <mat-error *ngIf="email.hasError('required') && email.dirty">
                            El correu és obligatori
                        </mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field appearance="outline" class="w-[70vw] sm:w-[60vw] xl:w-800">
                        <mat-label>Telèfon mòbil: </mat-label>
                        <input matInput type="text" [formControl]="mobile_phone" />
                        <mat-error *ngIf="mobile_phone.hasError('minlength') && mobile_phone.dirty">
                            El número de telèfon ha de tenir mínim 9 dígits
                        </mat-error>
                        <mat-error *ngIf="mobile_phone.hasError('maxlength') && mobile_phone.dirty">
                            El número de telèfon ha de tenir un màxim de 13 dígits
                        </mat-error>
                        <mat-error
                            *ngIf="mobile_phone.hasError('pattern') && !mobile_phone.hasError('required') && mobile_phone.dirty">
                            El número de telèfon no té un format vàlid
                        </mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field appearance="outline" class="w-[70vw] sm:w-[60vw] xl:w-800">
                        <mat-label>Activitat</mat-label>
                        <mat-select [formControl]="activity">
                            <mat-option value="combat-classic">Combat Clàssic (2h)</mat-option>
                            <mat-option value="gran-combat">El Gran Combat (4h)</mat-option>
                            <mat-option value="combat-nocturn" disabled>Combat Nocturn (estiu)</mat-option>
                        </mat-select>
                        <mat-error *ngIf="activity.hasError('required') && activity.dirty">
                            Cal seleccionar el tipus d'activitat
                        </mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field appearance="outline" class="w-[70vw] sm:w-[60vw] xl:w-800">
                        <mat-label>Nombre de jugadors: </mat-label>
                        <input matInput type="number" [formControl]="num_players" />
                        <mat-error *ngIf="num_players.hasError('required') && num_players.dirty">
                            Cal especificar el nombre de jugadors (encar que sigui aproximat)
                        </mat-error>
                        <mat-error
                            *ngIf="(num_players.hasError('min') || num_players.hasError('max')) && num_players.dirty">
                            El nombre de jugadors ha de ser entre 8 i 16 (ambdós inclosos)
                        </mat-error>
                        <mat-error
                            *ngIf="num_players.hasError('pattern') && !num_players.hasError('required') && num_players.dirty">
                            Cal que sigui un número
                        </mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field appearance="outline" class="w-[70vw] sm:w-[60vw] xl:w-800">
                        <mat-label>Comentaris: </mat-label>
                        <textarea matInput type="text" [formControl]="msg"
                            placeholder="Escriu aquí el teu missatge..."></textarea>
                        <mat-error *ngIf="msg.hasError('minlength') && msg.dirty">
                            El missatge ha de tenir mínim 8 caràcters
                        </mat-error>
                        <mat-error *ngIf="msg.hasError('maxlength') && msg.dirty">
                            El missatge ha de tenir com a màxim 1024 caràcters
                        </mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <mat-checkbox [formControl]="under_sixteen" color="primary">
                        <p class="contents text-white">Algun dels participants és menor de 16 anys.</p>
                    </mat-checkbox>
                </section>
                <section>
                    <mat-checkbox [formControl]="check_politiques" color="primary" required>
                        <p class="contents text-white">Estic d'acord amb les <a
                                href="./condicions-us-de-les-dades-personals" class="underline">condicions d'ús de les
                                dades
                                personals</a></p>.
                        <mat-error *ngIf="check_politiques.hasError('required') && check_politiques.dirty">
                            És necessari acceptar les condicions d'ús de les dades personals.
                        </mat-error>
                    </mat-checkbox>
                </section>
                <section class="flex flex-row justify-center items-center gap-2">
                    <button type="button" mat-mini-fab matStepperPrevious
                        color="primary"><mat-icon>arrow_back</mat-icon></button>
                    <button type="button" mat-mini-fab matStepperNext
                        disabled><mat-icon>arrow_forward</mat-icon></button>
                </section>
                <section class="text-white mt-4">
                    <button mat-raised-button type="submit" [disabled]="!bookingForm.valid || processing"
                        *ngIf="!processing && !showMessage" class="booking-button">Enviar</button>
                    <mat-spinner *ngIf="processing"></mat-spinner>
                    <p class="font-semibold text-xl" *ngIf="showMessage">El missatge s'ha enviat correctament!</p>
                </section>
            </form>
        </mat-step>
    </mat-stepper>
</div>