.demo-inline-calendar-card {
    width: calc(300px + 10vw);
    margin: auto;
}

mat-calendar {
    font-size: calc(1rem + 0.4vw);
}

.mat-stepper-horizontal {
    background-color: rgb(38 38 38 / var(--tw-bg-opacity));
    color: white;
}