.demo-inline-calendar-card {
    margin: auto;
}

mat-calendar {
    font-size: calc(1rem + 0.4vw);
}

.mat-stepper-horizontal {
    background-color: rgb(38 38 38 / var(--tw-bg-opacity));
    color: white;
    display: none;
}

.mat-stepper-vertical {
    background-color: rgb(38 38 38 / var(--tw-bg-opacity));
    color: white;
}

@media (min-width: 640px) {
    .demo-inline-calendar-card {
        width: calc(300px + 10vw);
        margin: auto;
    }
}


@media (min-width: 1024px) {
    .mat-stepper-horizontal {
        display: block;
    }
    .mat-stepper-vertical {
        display: none;
    }
}