<h1
    class="font-display text-3xl sm:text-4xl md:text-4xl lg:text-6xl text-center text-white font-semibold w-[85%] sm:w-9/12 lg:w-800 mx-auto mt-8">
    CONTACTE</h1>
<div class="grid grid-cols-4 gap-8 text-white text-xl w-[85%] sm:w-9/12 lg:w-800 mx-auto py-10">
    <mat-icon class="col-span-1 justify-self-end">location_on</mat-icon>
    <p class="col-span-3">Carretera de Batet de la Serra - Km 1,8<br>
        17800, Olot</p>
    <mat-icon class="col-span-1 justify-self-end">call</mat-icon>
    <a class="col-span-3 underline"
        href="https://api.whatsapp.com/send?phone=34682904368&text=Hola!%20Voldria%20contactar%20amb%20Volcanic%20Beat%20per...">682
        90 43 68</a>
    <mat-icon class="col-span-1 justify-self-end">mail</mat-icon>
    <a class="col-span-3 underline truncate" href="mailto:laser@volcanicbeat.com">laser@volcanicbeat.com</a>
</div>
<hr class="w-11/12 mx-auto">
<iframe class="w-4/5 max-h-[75vw] mx-auto py-10"
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d23655.520737555165!2d2.509072!3d42.172963!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12bacbcabcb4f28b%3A0x6bd13bdae8b3905e!2sVolcanic%20Beat%20-%20Laser%20Tag!5e0!3m2!1sca!2ses!4v1702398315022!5m2!1sca!2ses"
    width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>