
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './palette.scss' as palette;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$volcanic-beat-primary: mat.define-palette(palette.$vb-green-palette);
$volcanic-beat-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$volcanic-beat-warn: mat.define-palette(mat.$red-palette);

$my-typography: mat.define-typography-config(
  $font-family: 'Raleway'
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$volcanic-beat-theme: mat.define-light-theme((
  color: (
    primary: $volcanic-beat-primary,
    accent: $volcanic-beat-accent,
    warn: $volcanic-beat-warn,
  ),
  typography: $my-typography
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($volcanic-beat-theme);

/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Raleway:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400&display=swap');

html, body {
    font-family: 'Raleway';
    background-color: #3C4C41;
}

.mdc-notched-outline__notch
{
  border-right: none;
}

/* Change the border color */
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: #e8fbed !important;
}

/* Change the border width */
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
  border-width: 1.5px !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: white !important;
}

.mat-mdc-checkbox.mat-primary {
  --mdc-checkbox-unselected-icon-color: white !important;
  --mdc-checkbox-unselected-hover-icon-color: #b6c9bb !important;
  --mdc-checkbox-selected-checkmark-color: white !important;
  --mdc-checkbox-unselected-pressed-icon-color: #5b6c60 !important;
  --mdc-checkbox-unselected-pressed-state-layer-color: white !important;
  --mdc-checkbox-unselected-focus-icon-color: white !important;
  --mdc-checkbox-disabled-selected-icon-color: rgb(255 255 255 / 38%) !important;
    --mdc-checkbox-disabled-unselected-icon-color: rgb(255 255 255 / 38%) !important;
}

html {
  --mdc-outlined-text-field-input-text-placeholder-color: rgb(255 255 255 / 80%) !important;
  --mat-datepicker-toggle-icon-color: rgb(255 255 255 / 80%) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgb(38 38 38) !important
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: rgb(255 255 255) !important;
}

.mat-mdc-select {
  color: rgb(255 255 255) !important;
}

.mat-mdc-select-arrow {
  color: rgb(255 255 255 / 80%) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: rgb(255 255 255 / 80%) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgb(255 255 255 / 80%) !important;
}

.mat-step-label.mat-step-label-active {
  color: rgb(255 255 255 / 80%) !important;
}

.one-game>span.mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  background-color: rgb(213 192 53 / 44%);
}

.two-games>span.mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  background-color: rgba(213, 146, 53, 0.44);
}

.three-games>span.mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  background-color: rgba(213, 98, 53, 0.44);
}

.full-games>span.mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  background-color: rgba(125, 125, 125, 0.44);
}

.mat-drawer-container {
  color: white !important;
  background: #3C4C41 !important;
}

.mdc-dialog__actions {
  position: absolute !important;
}

.mat-vertical-content-container {
  margin-left: 0 !important;
}

.mat-calendar {
  .mat-mdc-icon-button {
    color: #3C4C41;
}

}