<div class="flex flex-col justify-center items-center text-white text-center leading-loose mx-auto">
    <div class="flex flex-col justify-center items-center gap-4 bg-[#334037] w-screen py-8">
        <h1 class="font-display text-5xl font-semibold">ACTIVITATS I EQUIPAMENT</h1>
        <p class="w-2/5">A continuació podreu trobar els serveis de joc que oferim, així com també l'equipament que
            s'utilitza en les
            partides.</p>
    </div>
    <div
        class="flex flex-col justify-center items-center gap-8 combat-classic bg-vb-green bg-opacity-70 w-screen py-16">
        <h2 class="font-display text-2xl font-semibold w-2/5">COMBAT CLÀSSIC</h2>
        <h3 class="text-xl w-2/5">Ràpid i intens</h3>
        <p class="w-2/5">En el servei de combat clàssic el que oferim són 2 hores completes d'entreteniment amb
            múltiples partides i
            diferents formats de joc.</p>
        <p class="w-2/5">Al combat clàssic s'hi poden apuntar grups des de 8 fins a 16 persones.</p>
        <p class="w-2/5">El preu del servei de combat clàssic és obert i depèn del nombre de persones que s'apuntin a
            l'activitat.
            Podreu
            trobar-los definits a Preus.</p>
        <p class="w-2/5">També s'ofereix la opció de realitzar el combat clàssic a domicili, és a dir, que si teniu un
            espai gran, com
            un
            jardí, una masia o similars on vulgueu realitzar una partida de làser tag, estarem encantats de venir. Les
            tarifes en aquest cas segueixen sent les mateixes, però cobrant el desplaçament.</p>
    </div>
    <div class="flex flex-col justify-center items-center gap-8 gran-combat bg-vb-green bg-opacity-70 w-screen py-16">
        <h2 class="font-display text-2xl font-semibold w-2/5">EL GRAN COMBAT</h2>
        <h3 class="text-xl w-2/5">Complert i sense presses</h3>
        <p class="w-2/5">El gran combat és un servei que ofereix un matí o una tarda completa d'entreteniment. Es fan
            més partides i amb més formats que en el combat clàssic i es contempla una pausa intermitja per poder
            menjar, beure i comentar les partides en una zona preparada amb taules i bancs.</p>
        <p class="w-2/5">Pensat i enfocat per celebracions com aniversaris, comiats de solter/a, etc. Però també per
            qualsevol grup d'amics, companys de feina o família que es vulgui agafar més amb calma l'activitat i gaudir
            d'un matí o una tarda complets d'entreteniment.</p>
        <p class="w-2/5">El preu del pack del gran combat és tancat, indiferentment del nombre de persones i el podeu
            trobar també a Preus.</p>
    </div>
    <div
        class="flex flex-col justify-center items-center gap-8 combat-nocturn bg-vb-green bg-opacity-70 w-screen py-16">
        <h2 class="font-display text-2xl font-semibold w-2/5">COMBAT NOCTURN</h2>
        <h3 class="text-xl w-2/5">A la llum dels làsers i les estrelles</h3>
        <p class="w-2/5">En el servei de combat nocturn el que oferim és igual que el del combat clàssic, però en la
            franja de 21h a 23h del vespre, per tal de jugar enmig de la foscor.</p>
        <p class="w-2/5">El combat nocturn només és realitzable durant els mesos d'estiu.</p>
        <p class="w-2/5">El preu i les condicions del servei de combat nocturn és igual que el del combat clàssic i
            depèn del nombre de persones que s'apuntin a l'activitat. Podreu trobar-los definits a Preus.</p>
        <p class="w-2/5">Es requereix que els jugadors es portin el seu lot o frontal per tal de poder iluminar-se pel
            terreny de joc.</p>
    </div>
    <div class="w-screen h-10 bg-[#334037]"></div>
    <div class="flex flex-col justify-center items-center w-1000 gap-10 py-10">
        <h2 class="font-display text-4xl font-semibold w-2/5">EQUIPAMENT</h2>
        <div class="grid grid-cols-5 gap-x-6 gap-y-10">
            <img src="./assets/img/falcon.png" class="col-span-3">
            <p class="col-span-2 text-start text-[0.9rem]">Les Falcon F1 i F2 són les armes simulades que
                s'utilitzen
                durant les
                partides.<br>Incorporen les últimes
                tecnologies disponibles amb: una pantalla integrada on pots veure la informació de vida i de munició
                disponible, un altaveu per reproduir els sons dels trets i les ferides, i una mira de punt vermell per
                acurar al màxim la precisió. A més a més, es pot activar un impuls de retrocés en disparar per aquells
                que
                vulguin una simulació més real de l'arma.</p>
            <p class="col-span-2 text-start justify-self-end text-[0.9rem]">La diadema Netronic, és la cinta
                electrònica que ens posem al cap a l'hora de jugar i permet detectar els trets que rebem al cap amb
                precisió.
                Aquest model és molt còmode i lleuger de forma que quasi no es nota quan la portem posada.
                La diadema va connectada directament a l'arma de cada jugador, de forma que quan són tocats, l'arma els
                informa del fet per altaveu, així com també la cinta produeix una lleugera vibració.<br><br>
                Tant la diadema com l'arma van connectats directament a la tablet que controla el joc i permet escollir
                la modalitat de joc, el tipus d'arma (metralleta, franctirador, ....), els equips i molt més.
            </p>
            <img src="./assets/img/netronic.png" class="col-span-3">
        </div>
    </div>
</div>