<div>
    <img id="dialogImg" src="" class="max-w-1000 max-h-[90vh]">
    <div mat-dialog-actions class="absolute top-0 right-0">
        <button mat-icon-button mat-dialog-close><mat-icon color="primary">close</mat-icon></button>
    </div>
    <div class="absolute top-2/4 right-4">
        <button mat-icon-button (click)="forwardImg()"><mat-icon color="primary">arrow_forward_ios</mat-icon></button>
    </div>
    <div class="absolute top-2/4 left-4">
        <button mat-icon-button (click)="backwardImg()"><mat-icon color="primary">arrow_back_ios</mat-icon></button>
    </div>
</div>